@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #0e0c16;
  color: #ececec;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.bg-clip-text {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.option {
  @apply flex-1 flex flex-col gap-3 font-light text-sm p-5 border border-[#555] rounded-2xl;
}
.option-img {
  @apply w-10 h-10;
}
